/**
 * Layout
 */

.layout {
    
}

/**
 * Login
 */

label.weui_cell {
    span {
        width: 80px;
    }
}

/**
 * App
 */

.app {
    display: block;
    .shop-name {
        font-size: 1.3em;
        text-align: center;
    }
    .tag-name {
        background-color: #e5e5cc;
        font-size: 1em;
        text-align: center;
    }
    .products {
        margin: 5px 0;
        background-color: transparent;
        &:before, &:after {
            border: 0;
        }
    }
    .product {
        padding: 0;
        height: 140px;
        &:before, &:after {
            border: 0;
        }
    }
    .image {
    }
    .cover {
        width: 100%;
    }
    .container {
        width: 100%;
        height: 135px;
        background-color: #666666;
        color: white;
    }
    .content {
        position: relative;
        margin: 5px;
        height: 100%;
    }
    .sn {
        padding: .1em .5em;
        background-color: black;
        text-align: center;
        line-height: 1.8em;
        font-weight: bold;
    }
    .name {
        font-size: .8em;
    }
    .desc {
        font-size: .7em;
    }
    .price {
        position: absolute;
        bottom: 10px;
        font-size: 1.6em;
        font-weight: 300;
        .rmb {
            margin-left: .2em;
            font-size: .4em;
            text-transform: uppercase;
        }
    }
    .action {
        position: absolute;
        bottom: 10px;
        right: 0px;
        font-size: 1.4em;
    }
    .amount {
        padding: 0 6px;
    }
}
